<div class="card">
    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title"><i class="fa fa-cart-plus prefix"></i> Cart details</h4>
        <!--Text-->
        <form id="prodForm">
            <!--First row-->
            <div class="row">
                <!--First column-->
                <div class="col-md-6">
                    <div class="md-form">
                        <input type="text" id="prodName" class="form-control validate" required="">
                        <label for="prodName" data-error="" data-success="">Product:</label>
                    </div>
                </div>
            </div>
            <!--/.First row-->

            <!--Second row-->
            <div class="row">
                <!--First column-->
                <div class="col-md-12">

                    <div class="md-form">
                      <input type="number" id="form83" class="form-control validate" required="">
                      <label for="form83" data-error="" data-success="">Amount:</label>
                    </div>
                </div>
            </div>
            <!--/.Second row-->
        </form>
        <a type="submit" class="btn btn-primary" id="add">Add</a>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->
