
          <!--Footer-->
          <footer class="page-footer blue center-on-small-only footer navbar-fixed-bottom">

              <!--Footer Links-->
              <div class="container-fluid">
                  <div class="row">

                      <!--First column-->
                      <div class="col-xl-6 col-md-6">
                          <h5 class="title">Menu</h5>

                      <!--/.First column-->
                      <a  class="btn btn-danger" id="login">Login</a>
                      <a  class="btn btn-danger" id="signup">SignUp</a>
                      <a  class="btn btn-danger" id="myCarts">My Carts</a>
                      </div>
                  </div>
              </div>
              <!--/.Footer Links-->

              <!--Copyright-->
              <div class="footer-copyright">
                  <div class="container-fluid">
                      © 2016 Copyright: <a href="#"> Nir Adler </a>

                  </div>
              </div>
              <!--/.Copyright-->

          </footer>
          <!--/.Footer-->
