<!--Footer-->
<footer class="page-footer blue center-on-small-only footer navbar-fixed-bottom">

    <!--Footer Links-->
    <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-xl-6 col-md-6">
                <a id="tmenu"><h5 class="title">Menu</h5></a>
                <div id="footerMenu" class="footerNav">
                    <a  class="btn btn-danger" id="login">Login</a>
                    <a  class="btn btn-danger" id="signup">SignUp</a>
                </div>
                <!--/.First column-->

            </div>
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <!-- <div class="footer-copyright">
                  <div class="container-fluid">
                      © 2016 Copyright: <a href="#"> Nir Adler </a>

                  </div>
              </div> -->
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
