<div class="card">
    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">
            <i class="fa fa-cart-plus prefix"></i>
            Login</h4>
        <!--Text-->
        <form id="loginForm">
            <!--First row-->
            <div class="row">

                <!--Second column-->
                <div class="col-md-6">
                    <div class="md-form">

                        <input type="text" id="uemail" class="form-control validate" required="">
                        <label for="uemail" data-error="" data-success="">Email:</label>
                    </div>
                </div>
            </div>
            <!--/.First row-->

            <!--Second row-->
            <div class="row">
                <!--First column-->
                <div class="col-md-12">

                    <div class="md-form">
                        <input type="password" id="upass" class="form-control validate" required="">
                        <label for="upass" data-error="" data-success="">password:</label>
                    </div>
                </div>
            </div>
            <!--/.Second row-->
        </form>
        <a type="submit" class="btn btn-primary" id="logSubmit">Login</a> or <a type="submit" class="btn btn-primary" id="signup">Signup</a>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->
