<div class="card">
    <div class="card-block">
        <h3 class="card-title">
            <i class="fa fa-cart-plus  prefix"></i>
            Avilable carts</h3>
        <a class="btn btn-primary" id="newCart" onclick="newCart()">New cart</a>
        
        <a class="btn btn-primary" id="showCarts" onclick="showCarts()">My carts</a>

    </div>
</div>
<div id="cartList"></div>
<div id="addNewProd"></div>
<div id="prodList"></div>

<!-- <ul class="list-group">
    <li class="list-group-item">
        <a onclick="deleteCart()"><i class="fa fa-close" aria-hidden="true"></i></a><span class="tag bg-primary label-pill pull-xs-right">14</span><a onclick="showCart()">cartName</a>
    </li>
</ul>
<ul class="list-group">
    <li class="list-group-item list-group-item-success">
        <a class=""><i class="fa fa-close" aria-hidden="true"></i></a><span class="tag bg-primary label-pill pull-xs-right">14</span> Cras justo odio
    </li>
</ul> -->
