<div class="card">
    <!--Card content-->
    <div class="card-block">
        <!--Title-->
        <h4 class="card-title">
            <i class="fa fa-cart-plus prefix"></i>
            New Cart</h4>
        <!--Text-->
        <form id="newCartForm">
            <!--First row-->
            <div class="row">

                <!--Second column-->
                <div class="col-md-6">
                    <div class="md-form">

                        <input type="text" id="cname" class="form-control validate" required="">
                        <label for="cname" data-error="" data-success="">Name:</label>
                    </div>
                </div>
            </div>
            <!--/.First row-->

        </form>
        <a type="submit" class="btn btn-primary" onclick="addCart()">Add</a><a type="submit" class="btn btn-primary" onclick="$('#cartList').html('')">close</a>
    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->
