<div class="card">
              <!--Card content-->
              <div class="card-block">
                  <!--Title-->
                  <h4 class="card-title">
                      <i class="fa fa-cart-plus prefix"></i>
                      Signup</h4>
                  <!--Text-->
                  <form id="SignupForm">
                      <!--First row-->
                      <div class="row">
                          <!--First column-->
                          <div class="col-md-6">
                              <div class="md-form">

                                  <input type="text" id="uname" class="form-control validate" required="">
                                  <label for="uname" data-error="" data-success="">Name:</label>
                              </div>
                          </div>

                          <!--Second column-->
                          <div class="col-md-6">
                              <div class="md-form">

                                  <input type="text" id="uemail" class="form-control validate" required="">
                                  <label for="uemail" data-error="" data-success="">Email:</label>
                              </div>
                          </div>
                      </div>
                      <!--/.First row-->

                      <!--Second row-->
                      <div class="row">
                          <!--First column-->
                          <div class="col-md-12">

                              <div class="md-form">
                                  <input type="password" id="upass" class="form-control validate" required="">
                                  <label for="upass" data-error="" data-success="">password:</label>
                              </div>
                          </div>
                      </div>
                      <!--/.Second row-->
                  </form>
                  <a type="submit" class="btn btn-primary" id="signSubmit">SignUp</a> or <a type="submit" class="btn btn-primary" id="login">Login</a>
              </div>
              <!--/.Card content-->

          </div>
          <!--/.Card-->
